.topleftimage {
    position: absolute;
    top: 8px;
    left: 16px;
}

.titletext {
    position: absolute;
    top: 30px;
    left: 500px;
    font-size: 23px;
}

.backgroundHome {
    background-color: #e6ffe6;
}

.carbonIntensityImage {
    position: absolute;
    top: 300px;
    left: 400px;
}

.footprintImage {
    position: absolute;
    top: 300px;
    left: 1100px;
}